* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #2b062e, #eb6779);
  min-height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
}

.app-title {
  margin: 1.5rem 0 1.5rem 1.25rem;
}

.app-title a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.budget-header {
  color: white;
}

.budget-header .income {
  font-size: 1.25rem;
}

.budget-header .outcome {
  font-size: 1.25rem;
}

.budget-header .balance {
  font-size: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 1rem;
}

.budget-header .balance .value {
  font-size: 1.75rem;
}

.budget-header .income-total {
  color: rgb(32, 241, 154);
  font-size: 1.75rem;
}

.budget-header .outcome-total {
  color: rgb(255, 52, 103);
  font-size: 1.75rem;
}

.budget-dashboard .dash-title {
  padding: 1.5rem 0 1.5rem 1rem;
  margin-left: 1rem;
  font-size: 1.75rem;
  color: #222083 !important;
}

.budget-dashboard .toggle {
  display: flex;
  justify-content: space-evenly;
}

.budget-dashboard .input {
  display: flex;
}

.active {
  color: rgb(15, 8, 71);
}

.tab1:not(.active),
.tab2:not(.active),
.tab3:not(.active) {
  cursor: pointer;
  transition: 0.1s ease;
}

.tab1:not(.active):hover,
.tab2:not(.active):hover,
.tab3:not(.active):hover {
  color: rgba(0, 0, 0, 0.8);
}

.hide {
  display: none;
}

.budget-header .account {
  display: flex;
  justify-content: space-evenly;
}

.budget-dashboard {
  background: white;
  color: grey;
  border-radius: 2rem 2rem 0 0;
  height: 100%;
  margin-top: 1.35rem;
}

.budget-dashboard .input {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

.budget-dashboard .input input {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.15rem;
  width: 42.5%;
  outline: none;
  transition: 0.2s ease;
  padding: 5px;
}

.budget-dashboard .input input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.85);
}

.budget-dashboard button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 0;
  transition: 0.2s ease;
  padding: 5px;
  border-radius: 5px;
}

.budget-dashboard button:hover {
  background: rgba(0, 0, 0, 0.35);
}

.budget-dashboard button i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.85);
}
